.p-datepicker {
    font-size: 0.75rem !important;
    min-width: unset !important;
    width: 200px !important;
}

.p-datepicker table {
    font-size: 0.75rem !important;
}

.p-datepicker table td {
    padding: 0 !important;
}

.p-datepicker table td>span {
    width: 1.75rem !important;
    height: 1.75rem !important;
}

.p-datepicker table th {
    padding: 0.25rem !important;
}

.p-datepicker .p-datepicker-header {
    padding: 0.25rem 0.5rem !important;
}

.p-timepicker {
    padding: 0.25rem !important;
    font-size: 0.75rem !important;
}

.p-timepicker span {
    font-size: 0.875rem !important;
}

.p-timepicker button {
    width: 1.5rem !important;
    height: 1.5rem !important;
}