<div class="flex h-screen overflow-hidden bg-surface-950">

  <app-sidebar [collapsed]="collapsed" />

  <div class="relative flex items-center">
    <button (click)="collapsed = !collapsed" class="absolute -left-4 z-10
            w-10 h-10 rounded-full
            bg-slate-800 border border-slate-600
            text-slate-300 hover:text-white
            flex items-center justify-center
            shadow-md transition-all duration-300">
      <i class="pi text-xs" [class.pi-chevron-right]="collapsed" [class.pi-chevron-left]="!collapsed"></i>
    </button>
  </div>

  <main class="flex-1 p-6 bg-slate-100">
    <router-outlet />
  </main>

</div>